In [163]:
import pandas as pd
import zipfile
from pathlib import Path
import json
pd.set_option('display.max_rows', 50)
pd.options.display.float_format = '{:,.2f}'.format

In [4]:
root_dir = Path(r'C:\Users\97254\PycharmProjects\nlp_project_results\dev_dataset\train_on_80_percent_of_group_names')

In [49]:
EVAL_RESULTS_ZIP = root_dir /'cyber_attrs_eval_by_model_df.zip'
EVAL_GT_ZIP = root_dir /'cyber_attrs_eval_df.zip'

METRICS_JSON = root_dir /'metrics.json'

In [50]:
def extract_zip(zip_path):
    with zipfile.ZipFile(zip_path, 'r') as zip_ref:
        zip_ref.extractall(zip_path.parent)
    return zip_path.with_suffix('.csv')

In [113]:
EVAL_RESULTS_CSV = extract_zip(EVAL_RESULTS_ZIP)
EVAL_GT_CSV = extract_zip(EVAL_GT_ZIP)

In [114]:
EVAL_RESULTS_CSV

WindowsPath('C:/Users/97254/PycharmProjects/nlp_project_results/dev_dataset/train_on_80_percent_of_group_names/cyber_attrs_eval_by_model_df.csv')

In [115]:
EVAL_GT_CSV

WindowsPath('C:/Users/97254/PycharmProjects/nlp_project_results/dev_dataset/train_on_80_percent_of_group_names/cyber_attrs_eval_df.csv')

In [239]:
original_tstr_df = pd.read_csv(EVAL_RESULTS_CSV)[['Unnamed: 0', 'git_repo', 'year', 'filename', 'group_name']]

print(tstr_df.shape)
tstr_df.head()

(3386, 5)

,Unnamed: 0,git_repo,year,filename,group_name
0,0,APT_CyberCriminal_Campagin_Collections,2018,hidden-cobra-targets-turkish-financial-sector-...,[]
1,1,APT_CyberCriminal_Campagin_Collections,2018,hidden-cobra-targets-turkish-financial-sector-...,[]
2,2,APT_CyberCriminal_Campagin_Collections,2018,hidden-cobra-targets-turkish-financial-sector-...,[]
3,3,APT_CyberCriminal_Campagin_Collections,2018,hidden-cobra-targets-turkish-financial-sector-...,[]
4,4,APT_CyberCriminal_Campagin_Collections,2018,hidden-cobra-targets-turkish-financial-sector-...,[]

In [240]:
original_tstgt_df = pd.read_csv(EVAL_GT_CSV)[['Unnamed: 0', 'git_repo', 'year', 'filename', 'group_name']]
print(tstgt_df.shape)
tstgt_df.head()

(3386, 5)

,Unnamed: 0,git_repo,year,filename,group_name
0,0,APT_CyberCriminal_Campagin_Collections,2018,hidden-cobra-targets-turkish-financial-sector-...,[Hidden Cobra]
1,1,APT_CyberCriminal_Campagin_Collections,2018,hidden-cobra-targets-turkish-financial-sector-...,[Hidden Cobra]
2,2,APT_CyberCriminal_Campagin_Collections,2018,hidden-cobra-targets-turkish-financial-sector-...,[Hidden Cobra]
3,3,APT_CyberCriminal_Campagin_Collections,2018,hidden-cobra-targets-turkish-financial-sector-...,[Hidden Cobra]
4,4,APT_CyberCriminal_Campagin_Collections,2018,hidden-cobra-targets-turkish-financial-sector-...,[Hidden Cobra]

In [241]:
tstgt_df["group_name"] = original_tstgt_df["group_name"].apply(eval)
tstr_df["group_name"] = original_tstr_df["group_name"].apply(eval)

In [191]:
series_of_list = list(tstgt_df["group_name"])
one_list = [x for _list in series_of_list for x in _list]
all_group_names = set(one_list)
print("num of group_names: ", len(all_group_names))

num of group_names:  116

In [349]:
series_of_list_r = list(tstr_df["group_name"])
one_list_r = [x for _list in series_of_list_r for x in _list]
all_group_names_r = set(one_list_r)
new_names = all_group_names_r-all_group_names
print("num of new_names: ", len(new_names))

num of new_names:  22

In [23]:
labels = ["group_name", "software_name", "technique_name", "tactic"]
print(f"Total lines {len(tstr_df)}")
for label in labels:
    print(f"lines with {label}: {len(tstr_df[tstr_df[label] != str([])])}")

Total lines 3386
lines with group_name: 2832
lines with software_name: 103
lines with technique_name: 34
lines with tactic: 46

In [358]:
def check_if_label_exists(label, line):
    if label in line:
        return True
    return False

In [374]:

verbose_gt_df = tstgt_df.copy()
verbose_r_df = tstr_df.copy()

for group in all_group_names:
    verbose_gt_df[group] = original_tstgt_df.group_name.str.contains(group)
    verbose_r_df[group] = original_tstr_df.group_name.str.contains(group)
    
value_counter = dict()
verbose_lines = dict()
for label_value in all_group_names:
    tp = (verbose_r_df[label_value]==True) & (verbose_gt_df[label_value]==True)
    tn = (verbose_r_df[label_value]==False) &(verbose_gt_df[label_value]==False)
    fp = (verbose_r_df[label_value]==True) & (verbose_gt_df[label_value]==False)
    fn = (verbose_r_df[label_value]==False) & (verbose_gt_df[label_value]==True)
    tp=tp[tp==True]
    tn=tn[tn==True]
    fp=fp[fp==True]
    fn=fn[fn==True]
    counts_ = [len(tp),len(tn), len(fp), len(fn)]
    value_counter[label_value] = counts_
    verbose_lines[label_value] = {'tp': set(tp.index), 'tn': set(tn.index),'fp': set(fp.index),'fn': set(fn.index)}

In [360]:

value_counter_df = pd.DataFrame.from_dict(value_counter).transpose()
value_counter_df.columns =['tp','tn', 'fp','fn']
value_counter_df

                   tp    tn  fp  fn
OCEANLOTUS GROUP    0  3385   0   1
dynamite panda      0  3385   0   1
ke3chang            0  3385   0   1
APT30             208  3178   0   0
Suckfly            22  3364   0   0
...               ...   ...  ..  ..
turla               0  3378   0   8
Lazarus Group     379  3007   0   0
APT18              23  3363   0   0
LAZARUS GROUP       0  3382   0   4
taidoor             0  3385   0   1

[116 rows x 4 columns]

In [381]:
verbose_gt_df_new = tstgt_df.copy()
verbose_r_df_new = tstr_df.copy()

for group in new_names:
    verbose_gt_df_new[group] = original_tstgt_df.group_name.str.contains(group)
    verbose_r_df_new[group] = original_tstr_df.group_name.str.contains(group)
value_counter_new = dict()
verbose_lines_new = dict()
for label_value in new_names:
    tp = (verbose_r_df_new[label_value]==True) & (verbose_gt_df_new[label_value]==True)
    tn = (verbose_r_df_new[label_value]==False) &(verbose_gt_df_new[label_value]==False)
    fp = (verbose_r_df_new[label_value]==True) & (verbose_gt_df_new[label_value]==False)
    fn = (verbose_r_df_new[label_value]==False) & (verbose_gt_df_new[label_value]==True)
    tp=tp[tp==True]
    tn=tn[tn==True]
    fp=fp[fp==True]
    fn=fn[fn==True]
    counts_ = [len(tp),len(tn), len(fp), len(fn)]
    value_counter_new[label_value] = counts_
    verbose_lines_new[label_value] = {'tp': set(tp.index), 'tn': set(tn.index),'fp': set(fp.index),'fn': set(fn.index)}

In [372]:
len(value_counter_df_new)

22

In [373]:

value_counter_df_new = pd.DataFrame.from_dict(value_counter_new).transpose()
value_counter_df_new.columns =['tp','tn', 'fp','fn']
value_counter_df_new

                                                    tp    tn  fp  fn
ESPIONAGE TARGETED                                   0  3385   1   0
House                                                0  3385   1   0
Birds                                                0  3385   1   0
Contrary                                             0  3385   1   0
Romance                                              0  3385   1   0
                                                    0  3386   0   0
NAME                                                 0  3385   1   0
Shell                                                0  3385   1   0
..................................................   0  3385   1   0
APT38                                                0  3385   1   0
DarkHotel group                                      0  3385   1   0
TG-3279                                              0  3385   1   0
ZJ                                                   0  3385   1   0
BACKSPACE                                            0  3379   7   0
COMPONENT                                            0  3385   1   0
RemoveResources                                      0  3385   1   0
Propaganda                                           0  3385   1   0
RIPTIDE                                              0  3383   3   0
the Storm                                            0  3385   1   0
collective                                          0  3386   0   0
Overlapping                                          0  3385   1   0
The Bear                                             0  3385   1   0

In [384]:
verbose_lines_new['BACKSPACE']

{'tp': set(),
 'tn': {0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100,
  101,
  102,
  103,
  104,
  105,
  106,
  107,
  108,
  109,
  110,
  111,
  112,
  113,
  114,
  115,
  116,
  117,
  118,
  119,
  120,
  121,
  122,
  123,
  124,
  125,
  126,
  127,
  128,
  129,
  130,
  131,
  132,
  133,
  134,
  135,
  136,
  137,
  138,
  139,
  140,
  141,
  142,
  143,
  144,
  145,
  146,
  147,
  148,
  149,
  150,
  151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  177,
  178,
  179,
  180,
  181,
  182,
  183,
  184,
  185,
  186,
  187,
  188,
  189,
  190,
  191,
  192,
  193,
  194,
  195,
  196,
  197,
  198,
  199,
  200,
  201,
  202,
  203,
  204,
  205,
  206,
  207,
  208,
  209,
  210,
  211,
  212,
  213,
  214,
  215,
  216,
  217,
  218,
  219,
  220,
  221,
  222,
  223,
  224,
  225,
  226,
  227,
  228,
  229,
  230,
  231,
  232,
  233,
  234,
  235,
  236,
  237,
  238,
  239,
  240,
  241,
  242,
  243,
  244,
  245,
  246,
  247,
  248,
  249,
  250,
  251,
  252,
  253,
  254,
  255,
  256,
  257,
  258,
  259,
  260,
  261,
  262,
  263,
  264,
  265,
  266,
  267,
  268,
  269,
  270,
  271,
  272,
  273,
  274,
  275,
  276,
  277,
  278,
  279,
  280,
  281,
  282,
  283,
  284,
  285,
  286,
  287,
  288,
  289,
  290,
  291,
  292,
  293,
  294,
  295,
  296,
  297,
  298,
  299,
  300,
  301,
  302,
  303,
  304,
  305,
  306,
  307,
  308,
  309,
  310,
  311,
  312,
  313,
  314,
  315,
  316,
  317,
  318,
  319,
  320,
  321,
  322,
  323,
  324,
  325,
  326,
  327,
  328,
  329,
  330,
  331,
  332,
  333,
  334,
  335,
  336,
  337,
  338,
  339,
  340,
  341,
  342,
  343,
  344,
  345,
  346,
  347,
  348,
  349,
  350,
  351,
  352,
  353,
  354,
  355,
  356,
  357,
  358,
  359,
  360,
  361,
  362,
  363,
  364,
  365,
  366,
  367,
  368,
  369,
  370,
  371,
  372,
  373,
  374,
  375,
  376,
  377,
  378,
  379,
  380,
  381,
  382,
  383,
  384,
  385,
  386,
  387,
  388,
  389,
  390,
  391,
  392,
  393,
  394,
  395,
  396,
  397,
  398,
  399,
  400,
  401,
  402,
  403,
  404,
  405,
  406,
  407,
  408,
  409,
  410,
  411,
  412,
  413,
  414,
  415,
  416,
  417,
  418,
  419,
  420,
  421,
  422,
  423,
  424,
  425,
  426,
  427,
  428,
  429,
  430,
  431,
  432,
  433,
  434,
  435,
  436,
  437,
  438,
  439,
  440,
  441,
  442,
  443,
  444,
  445,
  446,
  447,
  448,
  449,
  450,
  451,
  452,
  453,
  454,
  455,
  456,
  457,
  458,
  459,
  460,
  461,
  462,
  463,
  464,
  465,
  466,
  467,
  468,
  469,
  470,
  471,
  472,
  473,
  474,
  475,
  476,
  477,
  478,
  479,
  480,
  481,
  482,
  483,
  484,
  485,
  486,
  487,
  488,
  489,
  490,
  491,
  492,
  493,
  494,
  495,
  496,
  497,
  498,
  499,
  500,
  501,
  502,
  503,
  504,
  505,
  506,
  507,
  508,
  509,
  510,
  511,
  512,
  513,
  514,
  515,
  516,
  517,
  518,
  519,
  520,
  521,
  522,
  523,
  524,
  525,
  526,
  527,
  528,
  529,
  530,
  531,
  532,
  533,
  534,
  535,
  536,
  537,
  538,
  539,
  540,
  541,
  542,
  543,
  544,
  545,
  546,
  547,
  548,
  549,
  550,
  551,
  552,
  553,
  554,
  555,
  556,
  557,
  558,
  559,
  560,
  561,
  562,
  563,
  564,
  565,
  566,
  567,
  568,
  569,
  570,
  571,
  572,
  573,
  574,
  575,
  576,
  577,
  578,
  579,
  580,
  581,
  582,
  583,
  584,
  585,
  586,
  587,
  588,
  589,
  590,
  591,
  592,
  593,
  594,
  595,
  596,
  597,
  598,
  599,
  600,
  601,
  602,
  603,
  604,
  605,
  606,
  607,
  608,
  609,
  610,
  611,
  612,
  613,
  614,
  615,
  616,
  617,
  618,
  619,
  620,
  621,
  622,
  623,
  624,
  625,
  626,
  627,
  628,
  629,
  630,
  631,
  632,
  633,
  634,
  635,
  636,
  637,
  638,
  639,
  640,
  641,
  642,
  643,
  644,
  645,
  646,
  647,
  648,
  649,
  650,
  651,
  652,
  653,
  654,
  655,
  656,
  657,
  658,
  659,
  660,
  661,
  662,
  663,
  664,
  665,
  666,
  667,
  668,
  669,
  670,
  671,
  672,
  673,
  674,
  675,
  676,
  677,
  678,
  679,
  680,
  681,
  682,
  683,
  684,
  685,
  686,
  687,
  688,
  689,
  690,
  691,
  692,
  693,
  694,
  695,
  696,
  697,
  698,
  699,
  700,
  701,
  702,
  703,
  704,
  705,
  706,
  707,
  708,
  709,
  710,
  711,
  712,
  713,
  714,
  715,
  716,
  717,
  718,
  719,
  720,
  721,
  722,
  723,
  724,
  725,
  726,
  727,
  728,
  729,
  730,
  731,
  732,
  733,
  734,
  735,
  736,
  737,
  738,
  739,
  740,
  741,
  742,
  743,
  744,
  745,
  746,
  747,
  748,
  749,
  750,
  751,
  752,
  753,
  754,
  755,
  756,
  757,
  758,
  759,
  760,
  761,
  762,
  763,
  764,
  765,
  766,
  767,
  768,
  769,
  770,
  771,
  772,
  773,
  774,
  775,
  776,
  777,
  778,
  779,
  780,
  781,
  782,
  783,
  784,
  785,
  786,
  787,
  788,
  789,
  790,
  791,
  792,
  793,
  794,
  795,
  796,
  797,
  798,
  799,
  800,
  801,
  802,
  803,
  804,
  805,
  806,
  807,
  808,
  809,
  810,
  811,
  812,
  813,
  814,
  815,
  816,
  817,
  818,
  819,
  820,
  821,
  822,
  823,
  824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  832,
  833,
  834,
  835,
  836,
  837,
  838,
  839,
  840,
  841,
  842,
  843,
  844,
  845,
  846,
  847,
  848,
  849,
  850,
  851,
  852,
  853,
  854,
  855,
  856,
  857,
  858,
  859,
  860,
  861,
  862,
  863,
  864,
  865,
  866,
  867,
  868,
  869,
  870,
  871,
  872,
  873,
  874,
  875,
  876,
  877,
  878,
  879,
  880,
  881,
  882,
  883,
  884,
  885,
  886,
  887,
  888,
  889,
  890,
  891,
  892,
  893,
  894,
  895,
  896,
  897,
  898,
  899,
  900,
  901,
  902,
  903,
  904,
  905,
  906,
  907,
  908,
  909,
  910,
  911,
  912,
  913,
  914,
  915,
  916,
  917,
  918,
  919,
  920,
  921,
  922,
  923,
  924,
  925,
  926,
  927,
  928,
  929,
  930,
  931,
  932,
  933,
  934,
  935,
  936,
  937,
  938,
  939,
  940,
  941,
  942,
  943,
  944,
  945,
  946,
  947,
  948,
  949,
  950,
  951,
  952,
  953,
  954,
  955,
  956,
  957,
  958,
  959,
  960,
  961,
  962,
  963,
  964,
  965,
  966,
  967,
  968,
  969,
  970,
  971,
  972,
  973,
  974,
  975,
  976,
  977,
  978,
  979,
  980,
  981,
  982,
  983,
  984,
  985,
  986,
  987,
  988,
  989,
  990,
  991,
  992,
  993,
  994,
  995,
  996,
  997,
  998,
  999,
  ...},
 'fp': {2051, 2052, 2060, 2064, 2096, 2449, 2467},
 'fn': set()}

In [387]:
for word, dict_ in verbose_lines_new.items():
    for key, val in dict_.items():
        if key == 'fp':
            print(word, val)

ESPIONAGE TARGETED {951}
House {1841}
Birds {8}
Contrary {378}
Romance {284}
 set()
NAME {1471}
Shell {43}
............................................................................................................................................... 72 {3058}
APT38 {3352}
DarkHotel group {774}
TG-3279 {1274}
ZJ {2096}
BACKSPACE {2051, 2052, 2467, 2060, 2064, 2096, 2449}
COMPONENT {1438}
RemoveResources {1132}
Propaganda {586}
RIPTIDE {2915, 1205, 1199}
the Storm {1074}
collective set()
Overlapping {742}
The Bear {1071}